* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.goblin-wrapper {
    border: 10px double green;
    width: 800px;
    height: 800px;
    position: relative;
}

.goblin-down {
    background: url(./img/goblin_big.png);
    width: calc(470px / 3);
    height: calc(710px /4);
    animation: move-down 1s ease-in-out infinite;
    position: absolute;
}


@keyframes move-down {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, 600px, 0);
    }
}

